# Python
backend/env/
backend/venv/
backend/app/__pycache__/
backend/secrets/
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Testing
backend/.pytest_cache/
backend/htmlcov/
backend/.coverage
backend/coverage.xml
backend/test-results/
*.cover
.hypothesis/

# Database
database/env
database/data
*.sql
backup*.sql
/backups/

# Environment files
.env
frontend/.env
deployment/.vault_pass

# Ansible
deployment/ansible/hosts

# Node
node_modules/
frontend/node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo