.year-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .year-selector button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: var(--background-gray);
    color: #333;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .year-selector button:hover {
    background-color: var(--border-color);
  }
  
  .year-selector button.active {
    background-color: var(--primary-green);
    color: white;
  }
  
  .income-chart-container {
    margin-top: 30px;
    padding: 20px;
    background-color: var(--table-background);
    border-radius: 8px;
    border: 1px solid var(--border-color);
    text-align: center;
    width: 100%;
  }
  
