.year-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .year-selector button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .year-selector button:hover {
    background-color: #ddd;
  }
  
  .year-selector button.active {
    background-color: #36A2EB;
    color: white;
  }
  
  .income-chart-container {
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
    text-align: center;
    width: 100%;
  }
  